

body{

    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", "Verdana","Arial","sans-serif";
    background-color: rgb(227, 242, 252);
    color: #444;
}
/*img
{
	width:1530px;
} */

.experiment
{
	width: 100%;
    min-height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
	background-color: white;
	background: url(../../src/themes/blue-icon/images/content_bg.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;

}

.heading
{
	/*zoom:170%;*/
	padding-left:40px;
	font-weight: 800;
	font-size: 30px;
}

.selection-list
{

    
    /*border-width:150px1px;*/
    /*border-style: solid;*/
    /*zoom:150%;*/
    /*size: 150px;*/
    font-size: 16px;
    color: #444444;
    margin-top: 50px;
    margin-left:600px;
    padding : 10px;
}

.exp-desc
{
	text-align: center;
	color: #0000AA;
}

#exp-buttons button:hover{
    transform:scale(1.3,1.3);
    background-color: #b8b9b9;
}

#typed-sentence
{
	font-size: 40px; 
	color: #413A3A;
	font-weight: bold;

}
.desc-tag
{
	font-style: italic;
	vertical-align: baseline;
}

#right-wrong
{
	font-size: 40px;
	color: green;
}

#correct-sentences
{
	color: #413A3A;
	font-size: 30px;
}
#desc-head
{

  font-size:25px;
  font-weight: bold;

}
#desc-tag
{
   font-style: italic;
   color:#0000FF;
   font-size: 20px;
}

#second-message
{
	font-size:25px;
	font-weight: bold;
}

